<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE</title>
</head>
<body>
    <div class="app">
        {{msg}}
        <button @click="cbtn">点我</button>

        <table border="1">
            <tr v-for="i in num">
                <td v-for="j in i">{{j}}*{{i}}={{j*i}}</td>
            </tr>
        </table>
    </div>

    <div id="count">
        <button @click="sub">-</button>
        <span v-if="show">{{ msg }}</span>
        <button @click="add">+</button>
    </div>

    <div id="todoapp">
        <input v-model="val" @keyup.enter="add"/>
        <li v-for="(item,index) in msg">
            {{item}}+"下标"+{{index}}
            <button @click="sub(index)">X</button>
        </li>
        <li >{{msg.length}}
            <button v-on:click="clear">清空</button>
        </li>

    </div>

    
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var app = new Vue({
        el:".app",
        data:{
            val:2,
            text:2,
            show:true,
            msg:["111"],
            num:9,
            
        },
        methods:{
            cbtn:function(){
                var self = this;
                axios.get("https://autumnfish.cn/api/joke/list?num=3")
                //axios.post("https://autumnfish.cn/api/user/reg",{username:"jack"})
                .then(function(resp){
                    console.log(resp.data.jokes)
                    self.msg = resp.data.jokes[0]
                },function(arr){
                    console.log(arr)
                })

            },
            sub:function(index){
                this.msg.splice(index,1)
            },
            clear:function(){
                this.msg.splice(0,this.msg.length) 
             }
        }
    })

    var app = new Vue({
        el:"#todoapp",
        data:{
            val:2,
            text:2,
            show:true,
            msg:["111"]
            
        },
        methods:{
            add:function(){
                if(this.val!=""||this.val!=null){
                    console.log(this.val=="")
                   //} this.msg.push(this.val!=""?this.val||)
                }

            },
            sub:function(index){
                this.msg.splice(index,1)
            },
            clear:function(){
                this.msg.splice(0,this.msg.length) 
             }
        }
    })

</script>
</html>